.input-formulaire {
  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--white);
    padding: 9px;
    border-radius: 6px;

    .form-control {
      display: flex;
      width: 100%;
      input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
      }

      input:focus {
        border-color: #007bff;
        outline: none;
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        color: white;
        min-width: 30px; /* Set la largeur fixe afin que le button ne change pas de dimension durant le spinner de chargement */
        height: 29px; /* idem pour la hauteur */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        .button-text {
          display: inline-block;
        }
        .loading-spinner {
          display: flex;
          align-items: center;
          justify-content: center;
          animation: spin 1s linear infinite;

          .loading-spinner fa-icon {
            font-size: 16px;
          }
        }
      }
      button[disabled] {
        border: none;
        background-color: var(--primary);
        color: var(--text-regular);
        cursor: not-allowed;
        .loading-spinner {
          display: flex;
          align-items: center;
          justify-content: center;
          animation: spin 1s linear infinite;

          .loading-spinner fa-icon {
            font-size: 16px;
          }
        }
        &:hover {
          opacity: 0.8;
          color: white;
        }
      }
    }
  }

  .errorText {
    color: var(--primary);
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
  }
}
