<form class="auth-formulaire" [formGroup]="form" (ngSubmit)="submit()">
  <h3 class="form-title">Reset Password</h3>

  <!-- Token (visibile solo a livello di backend, non serve qui) -->

  <div class="form-control">
    <label for="newPassword"
      >New Password <span class="asterisco">*</span></label
    >
    <input
      formControlName="newPassword"
      type="password"
      id="newPassword"
      name="newPassword"
      placeholder="Nuova password"
    />
  </div>

  <div class="form-control">
    <label for="confirmNewPassword"
      >Confirm New Password <span class="asterisco">*</span></label
    >
    <input
      formControlName="confirmNewPassword"
      type="password"
      id="confirmNewPassword"
      name="confirmNewPassword"
      placeholder="Conferma nuova password"
    />
    <div
      class="errorText"
      *ngIf="form.hasError('passwordMismatch') && form.touched"
    >
      Le nuove password non corrispondono.
    </div>
  </div>

  <!-- Errori generali -->
  <div *ngIf="formErrors['form']?.message">
    <div class="separator"></div>
    <p class="errorText">{{ formErrors["form"].message }}</p>
  </div>

  <!-- Button submit con icona di caricamento -->
  <div class="button-container">
    <button class="btn" type="submit" [disabled]="loading || form.invalid">
      <span class="button-text" *ngIf="!loading">Submit</span>
      <div class="loading-spinner" *ngIf="loading">
        <fa-icon [icon]="faSpinner" class="spinner"></fa-icon>
      </div>
    </button>
  </div>
</form>
