<!-- Pour ce composant le style se trouve dans son file de style spécifique -->
<nav class="navbar">
  <div class="navbar-container">
    <ul class="header-links">
      <li>
        <a [routerLink]="getRouterLink()">Home</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/homepage/nos-logements']">Nos Logements</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a [routerLink]="['/homepage/nos-services']">Nos Services</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a [routerLink]="['/user/profile']">Profile</a>
      </li>
    </ul>

    <!-- Logo centré -->
    <a [routerLink]="getRouterLink()" class="navbar-logo">
      <img
        ngSrc="assets/logo2.jpg"
        alt="Logo p2S-tde"
        width="60"
        height="60"
        priority
      />
    </a>
    <div class="right-links">
      <ul>
        <li *ngIf="!authService.isAuthenticated()">
          <a [routerLink]="['/homepage/about-us-P2S-tde']">
            <li>About us</li>
          </a>
        </li>
        <li>
          <a (click)="toggleSearchModal()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </a>
        </li>
        <li *ngIf="authService.isAuthenticated()">
          <a routerLinkActive="active">
            <fa-icon [icon]="faHeart"></fa-icon>
          </a>
        </li>
      </ul>
      <button *ngIf="!authService.isAuthenticated()" class="button-grey-black">
        <a [routerLink]="['/auth/login']" routerLinkActive="active">
          <span>Connexion</span>
          <fa-icon [icon]="faSignInAlt" [size]="'1x'"></fa-icon>
        </a>
      </button>

      <button
        *ngIf="authService.isAuthenticated()"
        (click)="toggleConfirmLogoutModal()"
        class="button-grey-black"
      >
        <!-- <a (click)="logout()" [routerLink]="['/homepage']"> -->
        <a [routerLink]="['/homepage']">
          <span>Deconnexion</span>
          <fa-icon [icon]="faSignOutAlt" [size]="'1x'"></fa-icon>
        </a>
      </button>
    </div>
  </div>
</nav>

<!-- Search Modal -->
<div class="modal-container" *ngIf="showModal">
  <div
    class="modal-content"
    appClickOutsideModal
    (clickOutside)="closeSearchModal()"
  >
    <app-search-bar></app-search-bar>
  </div>
</div>

<!-- Logout Modal -->
<div
  *ngIf="showConfirmLogoutModal && authService.isAuthenticated()"
  class="modal-logout-container"
>
  <div
    class="modal-content"
    appClickOutsideModal
    (clickOutside)="closeConfirmLogoutModal()"
  >
    <p class="intro-text">Vous etes sur de bien vouloir vous déconnecter?</p>
    <ul class="lista">
      <li>
        <a (click)="logout()" [routerLink]="['/homepage']">Oui</a>
      </li>
      <li>
        <a (click)="closeConfirmLogoutModal()">Non</a>
      </li>
    </ul>
  </div>
</div>
