.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .navbar-container {
    height: 70px;
    padding: 0 50px;
    .navbar-logo {
      width: 60px;
      height: 60px;
      img {
        border-radius: 11px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      li {
        font-weight: 600;
      }
    }
    button {
      color: var(--text-regular);
      font-weight: 700;
      font-size: 11px;
      margin: 0 0 0 30px;
      padding: 6px 6px;
      background-color: white;
      border: 2px solid var(--text-regular);
      &:hover {
        background-color: var(--light-gray);
      }
      transition: background-color 0.3s ease-in-out;
    }
    button span {
      font-size: 13px;
      padding-right: 5px;
    }
  }
}

// Style du modal
.modal-container {
  position: absolute;
  top: 70px; /* Ajustez selon votre design */
  right: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1000;
  width: 300px;
}

.modal-container p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
