<nav class="navbar">
  <div
    class="navbar-container flex-fill d-flex flex-justify-content-between flex-align-items-center"
  >
    <ul class="header-links">
      <li>
        <a [routerLink]="['/homepage']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/homepage/nos-logements']">Nos Logements...</a>
      </li>
      <li>
        <a [routerLink]="['/homepage/nos-services']">Nos Services...</a>
      </li>
    </ul>
    <!-- Logo centré -->
    <a [routerLink]="['/homepage']" class="navbar-logo">
      <img
        ngSrc="assets/logo2.jpg"
        alt="Logo p2S-tde"
        width="60"
        height="60"
        priority
      />
    </a>
    <div class="d-flex flex-justify-content-between flex-align-items-between">
      <ul>
        <a [routerLink]="['/homepage/about-us-P2S-tde']">
          <li>About us...</li>
        </a>
        <li>
          <a (click)="toggleModal()">
            <fa-icon [icon]="faSearch"></fa-icon>
          </a>
        </li>
        <li>
          <a routerLinkActive="active">
            <fa-icon [icon]="faHeart"></fa-icon>
          </a>
        </li>
      </ul>
      <button>
        <a [routerLink]="['/auth/login']" routerLinkActive="active">
          <span>Connexion</span>
          <fa-icon [icon]="faSignInAlt" [size]="'1x'"></fa-icon>
        </a>
      </button>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal-container"
  *ngIf="showModal"
  appClickOutsideModal
  (clickOutside)="closeModal()"
>
  <div class="modal-content">
    <app-search-bar></app-search-bar>
  </div>
</div>
