<!-- Ici toutes les classes de style sont définientt dans le fichier de style propre à ce composant-->
<div class="sidebar-container">
  <div class="sidebar-content">
    <h3>Side-nav-bar-component</h3>
    <ul>
      <li>
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="active">
          Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/manage-users']" routerLinkActive="active">
          Manage users
        </a>
      </li>
    </ul>
    <button
      *ngIf="authService.isAuthenticated()"
      (click)="toggleConfirmLogoutModal()"
      class="button-grey-black"
    >
      <!-- <a (click)="logout()" [routerLink]="['/homepage']"> -->
      <a [routerLink]="['/homepage']">
        <span>Deconnexion</span>
        <fa-icon [icon]="faSignOutAlt" [size]="'1x'"></fa-icon>
      </a>
    </button>
  </div>
</div>

<!-- Logout Modal -->
<div
  *ngIf="showConfirmLogoutModal && authService.isAuthenticated()"
  class="modal-logout-container"
>
  <div
    class="modal-content"
    appClickOutsideModal
    (clickOutside)="closeConfirmLogoutModal()"
  >
    <p class="intro-text">Vous etes sur de bien vouloir vous déconnecter?</p>
    <ul class="lista">
      <li>
        <a (click)="logout()" [routerLink]="['/homepage']">Oui</a>
      </li>
      <li>
        <a (click)="closeConfirmLogoutModal()">Non</a>
      </li>
    </ul>
  </div>
</div>
