.sidebar-container {
  position: sticky;
  top: 0px;
  padding: 10px;
  height: max-content;
  .sidebar-content {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 20px;
    h3,
    li {
      color: var(--white);
    }
    ul {
      margin-top: 20px;
    }
  }
}
