<!-- Pour ce qui est du style des formulaire de Login et Register, le style à été
 définit dans le file de style global "styles.scss" car partagé entre les deux composants -->
<form class="auth-formulaire" [formGroup]="form" (ngSubmit)="submit()">
  <h3 class="form-title">Register</h3>

  <div class="form-control">
    <label for="name">Name<span class="asterisco">*</span></label>
    <input
      formControlName="name"
      type="text"
      id="name"
      name="name"
      placeholder="Inserisci il tuo nome"
      (change)="updateFormErrors()"
    />
    <!-- Erreurs specifiques au champ name -->
    <div *ngIf="formErrors['name'].message">
      <p class="errorText">
        {{ formErrors["name"].message }}
      </p>
    </div>
  </div>

  <div class="form-control">
    <label for="surname">Surname<span class="asterisco">*</span></label>
    <input
      formControlName="surname"
      type="text"
      id="surname"
      name="surname"
      placeholder="Inserisci il tuo cognome"
      (change)="updateFormErrors()"
    />
    <!-- Erreurs specifiques au champ surname -->
    <div *ngIf="formErrors['surname'].message">
      <p class="errorText">
        {{ formErrors["surname"].message }}
      </p>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Email<span class="asterisco">*</span></label>
    <input
      formControlName="email"
      type="email"
      id="email"
      name="email"
      placeholder="exemple@gmail.com"
      (change)="updateFormErrors()"
    />
    <!-- Erreurs specifiques au champ email -->
    <div *ngIf="formErrors['email'].message">
      <p class="errorText">
        {{ formErrors["email"].message }}
      </p>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password<span class="asterisco">*</span></label>
    <input
      formControlName="password"
      type="password"
      id="password"
      name="password"
      placeholder="your password"
      (change)="updateFormErrors()"
    />
    <!-- Erreurs specifiques au champ password -->
    <div *ngIf="formErrors['password'].message">
      <p class="errorText">
        {{ formErrors["password"].message }}
      </p>
    </div>
  </div>

  <div class="form-control">
    <label for="confirmPassword"
      >Conferma Password<span class="asterisco">*</span></label
    >
    <input
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm your password"
      (change)="updateFormErrors()"
    />
    <!-- Erreurs specifiques au champ confirmPassword -->
    <div *ngIf="formErrors['confirmPassword'].message">
      <p class="errorText">
        {{ formErrors["confirmPassword"].message }}
      </p>
    </div>
  </div>

  <!-- Messages d'erreurs générales du formulaire -->
  <div *ngIf="formErrors['form'].message">
    <div class="separator"></div>
    <p class="errorText">{{ formErrors["form"].message }}</p>
  </div>

  <div class="button-container">
    <button class="btn" type="submit" [disabled]="loading">
      <span class="button-text" *ngIf="!loading">Submit</span>
      <!-- Spinner visible lorsqu'il y a le chargement-->
      <div class="loading-spinner" *ngIf="loading">
        <fa-icon [icon]="faSpinner" class="spinner"></fa-icon>
      </div>
    </button>
  </div>
</form>
