.auth-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .auth-content {
    display: flex;
    .img-container {
      width: 40%;
      height: 100vh;
      background-color: cornflowerblue;
    }
    .form-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
    }
  }
}
