.landind-container {
  margin-top: 70px;
  min-height: 100vh;
  .section-1 {
    height: 350px;
    background-color: var(--silver);
    margin: 0;
    h1 {
      color: var(--white);
      margin-bottom: 30px;
    }
  }
  .section-2 {
    height: 280px;
  }

  .section-3 {
    height: 300px;
    .container {
      width: 1000px;
      gap: 20px;

      button {
        color: var(--text-regular);
        font-weight: 700;
        font-size: 11px;
        margin: 0 40px 0 0;
        padding: 6px 6px;
        background-color: var(--white);
        border: 2px solid var(--text-regular);
        &:hover {
          background-color: var(--light-gray);
        }
        transition: background-color 0.3s ease-in-out;
      }

      .text-content {
        width: 550px;
        gap: 20px;
        p {
          font-weight: 500;
          text-align: center;
        }
      }

      .links {
        width: 550px;
        margin-top: 20px;
        button span {
          font-size: 13px;
          padding-left: 7px;
        }

        p {
          color: var(--text-regular);
          font-weight: 700;
          font-size: 14px;
          border-bottom: 2px solid;
        }
      }
    }
  }

  .section-4 {
    margin-top: 50px;
    min-height: max-content;
    padding: 0 50px;
    .container {
      display: flex;
      gap: 10px;
    }

    .main-card {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .tag {
      background-color: var(--white);
      width: max-content;
      margin-left: 20px;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 0 0 20px 20px;
      align-self: flex-start;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-placeholder {
      width: 100%;
      height: 150px;
      background-color: #ddd;
      border-radius: 10px;
    }

    .grid {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
    }

    .card {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .card h3 {
      font-size: 16px;
      margin: 0;
    }

    .card p {
      font-size: 14px;
      margin: 0;
    }

    fa-icon {
      margin-top: auto;
      align-self: flex-end;
      color: #007bff;
    }
  }
}
