<!-- Pour ce qui est de ce composant tout son style est définit dans son file de style spécifique -->
<div class="landind-container">
  <!-- Section 1 -->
  <div class="section-1">
    <h1>P2S-TDE, vous avez les clés!</h1>
  </div>

  <!-- Section 2 -->
  <div class="section-2">
    <app-search-bar></app-search-bar>
  </div>

  <!-- Section 3 -->
  <div class="section-3">
    <div class="container">
      <h2>P2S-TDE, votre partenaire privilégié pour l'immobilier au Gabon</h2>
      <div class="text-content">
        <p>
          Nous vous offrons un service de bout en bout dans vos activités
          immobilières
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste omnis
          esse, temporibus, voluptate aliquam magnam fugit, sit earum vitae iure
          tempore! Aspernatur non molestias doloremque minima sit ipsa velit
          magnam!
        </p>
      </div>
      <div class="links">
        <button class="button-grey-black">
          <a [routerLink]="['/homepage/nos-logements']">
            <fa-icon [icon]="faDoorOpen" [size]="'1x'"></fa-icon>
            <span>Découvrez nos logements</span>
          </a>
        </button>
        <p>
          <a [routerLink]="['/homepage/nos-services']">
            Nos différents services...
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Section 4 -->
  <div class="section-4">
    <div class="container">
      <!-- Premier bloc à gauche -->
      <div class="main-card">
        <div class="content">
          <div class="image-placeholder">
            <div class="tag">On vous accompagne</div>
          </div>
          <h3>
            Une panoplie de services pour vous accompagner dans tous vos projets
            immobiliers dans toute la zone équatoriale
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec
            odio non lacus fringilla dignissim quis vel diam. Integer convallis
            purus odio, vitae semper leo posuere ac. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Veniam corrupti aliquid perspiciatis
            accusantium sunt non, nostrum aspernatur vitae velit libero. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Quas laboriosam
            est, ad at cum expedita. Officiis ad molestias deserunt alias, nam
            fuga molestiae, obcaecati similique iste sunt expedita eum quasi,
            ipsa quia. Voluptate perspiciatis odio, expedita minima similique
            veritatis sunt modi sapiente culpa doloribus, eius earum! Soluta
            porro possimus quibusdam?
          </p>
          <a [routerLink]="['/homepage/overview']"
            ><fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon
          ></a>
        </div>
      </div>

      <!-- Grille des bolcs de droite -->
      <div class="grid">
        <div class="card" *ngFor="let card of cards">
          <div class="image-placeholder">
            <div class="tag">{{ card.tag }}</div>
          </div>
          <h4>{{ card.title }}</h4>
          <p>{{ card.description }}</p>
          <a [routerLink]="['/homepage/overview']"
            ><fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 5 -->
  <div class="section-5">
    <div class="left-container">
      <div class="left-content">
        <h3>
          P2S-TDE, les travaux de l'équateur, nous vous accompagnons dans tous
          vos travaux immobiliers partout dans la zone équatoriale
        </h3>
        <p>
          Nous vous offrons un service de bout en bout dans vos activités
          immobilières
        </p>
        <button class="button-grey-black">
          <a>
            <span>Confiez-nous vos projets</span>
          </a>
        </button>
      </div>
    </div>
    <div class="img-container">
      <div
        class="img-content"
        [ngStyle]="{
        'background-image': 'url(' + backgroundImage + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat',
      
      }"
      >
        <img
          ngSrc="assets/logo1.jpg"
          alt="Logo p2S-tde"
          width="30"
          height="30"
          priority
        />
      </div>
    </div>
  </div>

  <!-- Section 6 -->
  <div class="section-6">
    <div class="title-section">
      <h3>Découvrez les biens du moment</h3>
      <p><a>Voir toutes les annonces...</a></p>
    </div>
    <!-- Grille des blocs de droite -->
    <div class="grid">
      <div class="card" *ngFor="let card of cards">
        <div class="image-placeholder">
          <div class="tag">
            <img
              ngSrc="assets/logo1.jpg"
              alt="Logo p2S-tde"
              width="40"
              height="30"
              priority
            />
          </div>
          <a routerLinkActive="active">
            <fa-icon [icon]="faHeart"></fa-icon>
          </a>
        </div>
        <div class="card-description">
          <h4>{{ card.title }}</h4>
          <p>{{ card.description }}</p>
        </div>
      </div>
    </div>
    <div class="final-link-section-6">
      <p><a>Voir toutes les annonces...</a></p>
    </div>
  </div>

  <!-- Section 7 -->
  <div class="section-7">
    <div class="title-section">
      <h3>Estimation gratuite de votre bien immobilier</h3>
    </div>
    <div class="content">
      <div class="text-content">
        <div>
          <p>Obtenez une première estimation immobilière de votre bien</p>
          <button class="btn-red-white">
            <span>Estimer mon bien gratuitement</span>
          </button>
        </div>
      </div>
      <div class="icons">
        <ul>
          <li><fa-icon [icon]="faHouse"></fa-icon> <span>Maison</span></li>
          <li><fa-icon [icon]="faBuilding"></fa-icon> <span>Immeuble</span></li>
          <li>
            <fa-icon [icon]="faStore"></fa-icon> <span>Fond de commerce</span>
          </li>
        </ul>
        <ul>
          <li><fa-icon [icon]="faLandmark"></fa-icon> <span>Terrain</span></li>
          <li><fa-icon [icon]="faHotel"></fa-icon> <span>Appartement</span></li>
          <li>
            <fa-icon [icon]="faWarehouse"></fa-icon>
            <span>Local commercial</span>
          </li>
        </ul>
      </div>
      <div class="image-placeholder"></div>
    </div>
  </div>

  <!-- Section 8 -->
  <div class="section-8">
    <div class="news-container">
      <h3>Nos conseils et nos dernières actualités</h3>
      <p>
        Restez informé des dernières informations sur P2S-TDE les marché
        immobilier sous l'équateur :
      </p>
      <!-- Bottons des filtres -->
      <div class="filters">
        <button>Tout</button>
        <button>Société</button>
        <button>Logements</button>
        <button>Territoire</button>
        <button>+</button>
      </div>
      <!-- Grille des articles -->
      <div class="articles-grid">
        <div class="article-card" *ngFor="let article of articles">
          <div
            class="article-image"
            [style.backgroundImage]="'url(' + article.image + ')'"
          ></div>
          <h4>{{ article.title }}</h4>
          <p>{{ article.description }}</p>
        </div>
      </div>
      <div class="view-more-container">
        <a class="view-more">Voir plus d'articles...</a>
      </div>
    </div>
  </div>

  <!-- Section 9 -->
  <div class="section-9">
    <div class="container">
      <div class="image-placeholder"></div>
      <div class="text-content">
        <div class="content">
          <p>Restez informé(es)</p>
          <h3>Ne manquez plus nos actualitées</h3>
          <p class="text-2">
            Rappports, bons plans, conseils, chiffres clés. P2S-TDE vous
            accompagne dans tous vos projets et vous tiens informé
          </p>
          <div>
            <app-form-input-email></app-form-input-email>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 10 -->
  <div class="section-10">
    <div class="faq-container">
      <h3>Questions les plus fréquentes</h3>
      <div class="faq-grid">
        <div class="faq-column" *ngFor="let column of questions">
          <div class="faq-item" *ngFor="let item of column">
            <div class="faq-question" (click)="toggle(item)">
              <span>{{ item.question }}</span>
              <span class="icon" [ngClass]="{ open: item.open }">></span>
            </div>
            <div class="faq-answer" *ngIf="item.open">
              <p>{{ item.answer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section 11 -->
  <div class="section-11">
    <h3>Pour toutes autres questions, Contactez-nous</h3>
    <div class="container">
      <div class="content">
        <div class="text-content">
          <p>Notre équipe se tiens à votre disposition pour vous assister</p>
          <button>
            <a>
              <span>Formulaire de contact</span>
            </a>
          </button>
        </div>
        <hr />
        <div class="contact-content">
          <div>
            <p>
              <fa-icon [icon]="faEnvelope"></fa-icon
              ><span>Email:</span> contact&#64;p2s-tde.com
            </p>
            <p>
              <fa-icon [icon]="faPhone"></fa-icon><span>Standard:</span> +228 70
              27 51 43
            </p>
          </div>
          <div>
            <p>
              <fa-icon [icon]="faWhatsapp"></fa-icon><span>Whatsapp:</span> +241
              074 92 69 28
            </p>
            <p>
              <fa-icon [icon]="faMobileAlt"></fa-icon
              ><span>Téléphone:</span> +241 62 55 82 76
            </p>
          </div>
        </div>
      </div>
      <div class="image-placeholder"></div>
    </div>
  </div>
</div>
