.landind-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  min-height: 100vh;
  .section-1 {
    height: 350px;
    background-color: var(--silver);
    margin: 0;
    h1 {
      color: var(--white);
      margin-bottom: 30px;
    }
  }
  .section-2 {
    height: 280px;
  }

  .section-3 {
    height: 300px;
    .container {
      width: 1000px;
      gap: 20px;

      button {
        color: var(--text-regular);
        font-weight: 700;
        font-size: 11px;
        margin: 0 40px 0 0;
        padding: 6px 6px;
        background-color: var(--white);
        border: 2px solid var(--text-regular);
        &:hover {
          background-color: var(--light-gray);
        }
        transition: background-color 0.3s ease-in-out;
      }

      .text-content {
        width: 550px;
        gap: 20px;
        p {
          font-weight: 500;
          text-align: center;
        }
      }

      .links {
        width: 550px;
        margin-top: 20px;
        button span {
          font-size: 13px;
          padding-left: 7px;
        }

        p {
          color: var(--text-regular);
          font-weight: 700;
          font-size: 14px;
          border-bottom: 2px solid;
        }
      }
    }
  }

  .section-4 {
    margin-top: 50px;
    min-height: max-content;
    padding: 0 50px;
    .container {
      display: flex;
      gap: 10px;
    }

    .main-card {
      flex: 1;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .tag {
      background-color: var(--white);
      width: max-content;
      margin-left: 20px;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 500;
      border-radius: 0 0 20px 20px;
      align-self: flex-start;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-placeholder {
      width: 100%;
      height: 150px;
      background-color: #ddd;
      border-radius: 10px;
    }

    .grid {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 10px;
    }

    .card {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .card h3 {
      font-size: 16px;
      margin: 0;
    }

    .card p {
      font-size: 14px;
      margin: 0;
    }

    .card a {
      max-width: max-content;
    }

    fa-icon {
      margin-top: auto;
      align-self: flex-start;
      color: #007bff;
    }
  }

  .section-5 {
    margin: 80px 0 30px 0;
    min-height: max-content;
    padding: 0 50px;
    height: 200px;
    .left-container {
      width: 700px;
      .left-content {
        width: 400px;
        margin-top: 60px;
        gap: 20px;

        p {
          font-weight: 500;
        }
        button {
          color: var(--text-regular);
          font-weight: 700;
          font-size: 11px;
          width: max-content;
          padding: 6px 6px;
          background-color: var(--white);
          border: 2px solid var(--text-regular);
          &:hover {
            background-color: var(--light-gray);
          }
          transition: background-color 0.3s ease-in-out;

          span {
            font-size: 13px;
            padding-right: 5px;
          }
        }
      }
    }

    .img-content {
      height: 400px;
      width: 400px;
      border-radius: 500px;
      img {
        border-radius: 10px 0px 10px 10px;
        transform: translateX(-50px) translateY(-35px);
      }
    }
  }

  .section-6 {
    min-height: max-content;
    margin: 50px 50px;

    .title-section {
      p {
        font-size: 14px;
        font-weight: 700;
        border-bottom: 2px solid var(--text-regular);
      }
    }
    .tag {
      background-color: var(--white);
      width: max-content;
      margin-left: 20px;
      padding: 5px 10px;
      font-size: 12px;
      border-radius: 0 0 10px 10px;
      align-self: flex-start;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-placeholder {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 200px;
      background-color: #ddd;
      border-radius: 10px;

      a {
        margin: 5px 20px 0 0;
        font-size: 20px;
      }
    }

    .grid {
      margin-top: 25px;
      flex: 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap: 10px;
    }

    .card {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .card h3 {
      font-size: 16px;
      margin: 0;
    }

    .card p {
      font-size: 14px;
      margin: 0;
    }

    .card-description {
      width: 700px;
    }

    .final-link-section-6 {
      p {
        margin-top: 40px;
        font-weight: 700;
        font-size: 14px;
        border-bottom: 2px solid var(--text-regular);
        width: max-content;
        text-align: center;
        align-self: center;
      }
    }
  }

  .section-7 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .title-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    .content {
      margin: 0 50px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      background-color: var(--white);
      gap: 60px;
      .text-content {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
          width: 300px;
          gap: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            text-align: center;
          }
          .btn-search {
            align-self: center;
            width: max-content;
            padding: 10px 20px;
            background-color: red;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            span {
              color: #fff;
              font-weight: 700;
            }
          }
        }

        // padding-left: 50px;
      }

      .icons {
        padding: 20px 100px 20px 0;
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: max-content;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
        }
      }

      .image-placeholder {
        display: flex;
        width: 700px;
        height: 240px;
        background-color: #ddd;
        border-radius: 0px 10px 10px 0px;
      }
    }
  }

  // Section 8

  .section-8 {
    margin: 100px 50px;
    .news-container {
      p {
        margin: 20px 0;
        font-weight: 500;
      }

      .filters {
        display: flex;
        gap: 10px;
        margin-bottom: 40px;

        button {
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 6px;
          padding: 8px 16px;
          cursor: pointer;
          &:hover {
            background-color: #f0f0f0;
          }
        }
      }

      /* Griglia degli articoli */
      .articles-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;

        .article-card {
          background-color: #f7f7f7;
          padding: 10px;
          border-radius: 8px;
          text-align: left;

          .article-image {
            background-size: cover;
            background-position: center;
            background-color: #ddd;
            height: 170px;
            border-radius: 8px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 16px;
            margin-bottom: 10px;
          }

          p {
            font-size: 14px;
            color: #555;
          }
        }
      }

      /* Link pour voir les autres articles */
      .view-more-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .view-more {
          font-size: 14px;
          border-bottom: 2px solid var(--text-regular);
          font-weight: 500;
        }
      }
    }
  }
}
