.landind-container {
  margin-top: 70px;
  height: 200vh;
  .section-one {
    height: 350px;
    background-color: var(--silver);
    margin: 0;
    h2 {
      color: var(--white);
      margin-bottom: 40px;
    }
  }
}

button.active {
  background-color: #007bff;
  color: white;
  outline: none;
}
.section-content {
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 10px;
}
