<div class="footer-container">
  <div class="section-1 d-flex flex-justify-content-between">
    <div>
      <ul class="logo-section-1 d-flex flex-column">
        <a [routerLink]="['/homepage']" class="navbar-logo">
          <img
            ngSrc="assets/logo2.jpg"
            alt="Logo p2S-tde"
            width="60"
            height="60"
            priority
          />
        </a>
        <p>L'agence immobilière privilégiée dans la zone équatoriale</p>
      </ul>
    </div>
    <div class="links-section-1">
      <h3>Ressources</h3>
      <ul>
        <li>Accueil</li>
        <li>Mon compte</li>
        <li>Achat</li>
        <li>Location</li>
        <li>Vente</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="links-section-1">
      <h3>Liens utiles</h3>
      <ul>
        <li>A propos</li>
        <li>Nos actualités</li>
        <li>Mentions légales</li>
        <li>Conditions générales de vente</li>
        <li>P.G.C</li>
      </ul>
    </div>
    <div class="links-section-1">
      <h3>P2S-TDE et vous</h3>
      <ul>
        <li>Nous contacter</li>
        <li>Newsletter</li>
        <li>Estimation en ligne</li>
        <li>Confier son projet</li>
      </ul>
    </div>
    <div class="links-section-1">
      <h3>Suivez-nous</h3>
      <ul>
        <li>LinkedIn</li>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Tik-Tok</li>
      </ul>
    </div>
  </div>
  <hr />
  <div
    class="section-2 d-flex flex-justify-content-between flex-align-items-center"
  >
    <p>
      <a
        >Copyright <fa-icon [icon]="faCopyright"></fa-icon> P2S-TDE, tous droits
        réservés</a
      >
    </p>
    <p><a>Powered and sponsored by Qatôrze Services</a></p>
  </div>
</div>
