.footer-container {
  color: white;
  height: max-content;
  margin: 0;
  .section-1 {
    padding: 30px 50px;
    background-color: var(--white);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    .logo-section-1 {
      width: 180px;
      display: flex;
      flex-direction: column;
      a {
        width: 60px;
        height: 60px;
        margin: 10px 0;
        img {
          border-radius: 11px;
        }
      }
    }
    li,
    p {
      font-weight: 500;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
  .section-2 {
    padding: 10px 50px 2px 50px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 13px;
      font-weight: 500;
    }
  }
}
