.admin-module-container {
  .admin-module-content {
    display: flex;
    flex: 1 1 auto;
    gap: 1px;
    min-height: 100vh;
    .sidebar-container {
      flex: 1 1 25%;
    }
    .admin-module-pages {
      flex: 1 1 75%;
    }
  }
}
