.tabs-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab-content {
  background-color: var(--white);
  border-radius: 0 0 3.5px 3.5px;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-color: var(--light-gray);
  border-radius: 3.5px 3.5px 0 0;
}

.tabs button {
  flex: 1;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: var(--text-regular);
}

.tabs button.active {
  background-color: var(--text-regular);
  color: #fff;
  font-weight: 500;
}

.tab-content {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-search {
  align-self: center;
  width: max-content;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-search i {
  margin-right: 5px;
}
