@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-regular);
  font-family: "Inter", sans-serif; /* Imposta il font Inter per tutti gli elementi */
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit; //Pour pas avoir la couleur par default et donc hériter de la couleur du parent
  cursor: pointer;
}

/*Definition de variables*/
:root {
  --primary: #d02b29; /* Colore principale (rosso acceso) */
  --secondary: #f44336; /* Colore secondario (rosso brillante) */
  --accent-color: #9e1b1b; /* Colore di accento (rosso scuro) */
  --background-light: #f8f8f8; /* Colore di sfondo (grigio chiaro) */
  --text-regular: #333333; /* Colore del testo (grigio scuro) */
  --link-color: #d02b29; /* Colore dei link (rosso acceso) */
  --hover-color: #f44336; /* Colore hover per pulsanti e link */
  --success-color: rgb(37, 144, 37); /* Colore hover per pulsanti e link */
  /* Neutri */
  --lightGray: #ddd; /* Grigio chiaro */
  --background-light: #efefef; /* Bianco sporco per lo sfondo */
  --dark-gray: #4b4b4b; /* Grigio scuro per il contrasto */
  --black: #171717;
  /* Grigi più chiari */
  --charcoal-gray: #333333; /* Grigio antracite, scuro ma non troppo */
  --slate-gray: #708090; /* Grigio ardesia, più chiaro e bluastro */
  --gray: #636262; /* Grigio medio, una tonalità neutra classica */
  --light-gray: #d3d3d3; /* Grigio chiaro */
  --gainsboro: #dcdcdc; /* Grigio chiaro, molto morbido e luminoso */
  --silver: #727171; /* Argento, una tonalità di grigio metallico */
  --whisper-gray: #f5f5f5; /* Grigio sussurrato, molto chiaro, quasi bianco */
  --ghost-gray: #e0e0e0; /* Grigio fantasma, molto chiaro e freddo */
  /* Sfumature di bianco */
  --white: #ffffff; /* Bianco puro */
  --off-white: #f1f1f1; /* Bianco caldo e morbido */
  --cream: #f7f7f7; /* Bianco crema */
  --ivory: #fafafa; /* Bianco avorio */
  --ghost-white: #f8f8ff; /* Bianco fantasma (bluastro molto chiaro) */
  --linen: #faf0e6; /* Bianco lino (tono caldo) */
}

body {
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-regular); /* Testo principale */
  font-family: "Poppins", sans-serif; /* Imposta Poppins come font principale per il corpo */
}

.homepage-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  min-height: 100vh;
  padding: 0 50px;
}
.user-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.admin-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--text-regular);
}

// Style des formulaire de login e register

.auth-formulaire {
  display: flex;
  flex-direction: column;
  width: 410px;
  padding: 10px 25px;
  color: white;
  border: 1px solid var(lightGray);
  background-color: var(--text-regular);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .form-title {
    color: var(--primary);
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-bottom: 6px;
    label {
      color: var(--white);
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 3px;
    }
    input,
    textarea {
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 4px;
    }
    textarea {
      resize: none;
    }
  }

  .errorText {
    color: var(--primary);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5px;

    // max-width: 300px;
    margin-top: 3px;
  }

  .successText {
    color: var(--success-color);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5px;
    // max-width: 300px;
    margin-top: 3px;
  }

  .asterisco {
    margin-left: 1.5px;
    color: var(--primary);
  }

  .separator {
    border-color: var(--white);
    border-radius: 20px;
    background-color: var(--white);
    height: 2px;
    max-width: 300px;
    margin: 15px auto;
  }
}

/* Contenitore del bottone per posizionamento relativo */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  /* Assicurati che il pulsante abbia una larghezza fissa per non cambiare dimensioni */
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px; /* Imposta una larghezza minima */
    height: 30px; /* Imposta un'altezza costante */
    border: none;
    border-radius: 5px;
    /* Nascondi il testo "Sign in" durante il caricamento */
    .button-text {
      display: inline-block;
    }
    /* Nascondi l'icona quando non è in carreggiamento */
    .loading-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #007bff; /* Colore dell'icona */
      animation: spin 1s linear infinite; /* Animazione di rotazione */

      /* Stile dell'icona dentro il bottone */
      .loading-spinner fa-icon {
        font-size: 1.2rem;
      }
    }
  }
}

// Buttons

.button-grey-black {
  color: var(--text-regular);
  font-weight: 700;
  font-size: 11px;
  width: max-content;
  padding: 6px 6px;
  background-color: var(--white);
  border: 2px solid var(--text-regular);
  border-radius: 5px;
  &:hover {
    background-color: var(--light-gray);
  }
  transition: background-color 0.3s ease-in-out;
}

.btn-red-white {
  width: max-content;
  padding: 10px 20px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  span {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
  }
}

// Extra qui pourrait nous etre utile plus tard

.scrollBarStyle {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: white;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-blue);
    border-radius: 3px;
  }
}

// Util pour les boutons désabilités

/* Disabilita il pulsante quando è disabilitato */
button[disabled] {
  border: none;
  background-color: var(--white);
  color: var(--text-regular);
  cursor: not-allowed;
  &:hover {
    opacity: 0.5;
    color: white;
  }
}

// Animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
